<div class="profile-content">
    <div class="profile-header">
        <div class="header-text">
            <h2>Tu perfil</h2>
            <p>Aquí podrás ver y editar los datos de tu perfil.</p>    
        </div>
        <div class="header-buttons">
            <button class="button-logout" (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
    
    <nav class="tabs">
        <button (click)="router.navigate(['main/profile/info'])">Mi información</button>
        <button (click)="router.navigate(['main/profile/products'])">Mis productos</button>
    </nav>
    
    <router-outlet />
</div>
