.category-container {
    height: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: var(--beige);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}