form {
    margin-top: 10vh;
    max-width: 50rem;
    height: 50%;
    padding: 5vh;
    background-color: var(--blanco-transparente);
    box-shadow: 0px 0px 2vh 1vh var(--sombra-blanca);
    border-radius: 5vh;
    display: flex;
    flex-direction: column;

    & h2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
